body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}
.legends{
  background-color:white;
  outline: black 1px dotted;
  padding: 10px;
}
.word {
  width: 100px;
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
}
.description{
  height: 15px;
  width: 15px;
  float: left;
  margin-right: 5px;
}